<div class="banner" >
  <div class="banner-container">
    <h1>Welcome to the Home of Cocktails</h1>
    <p>Search for a tasty cocktail or create your own!</p>
    <button type="button" class="btn btn-light my-2 my-sm-0"><%= link_to "Add cocktail", new_cocktail_path %></button>
  </div>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="cocktail-card">
    <img src="<%=image_path('banner')%>">
    <div class="cocktail-card-infos">
      <div>
        <h3><%=link_to cocktail.name, cocktail_path(cocktail) %></h3>
        <p>Short description</p>
      </div>
    </div>
  </div>
    <% end %>

</div>



