<div class="container">

  <div class="new-cocktail">
    <h2>Create your own cocktail</h2>

    <div class="new-form">
    <%= render 'form', cocktail: @cocktail %>
    </div>

    <div>
    <img src="https://res.cloudinary.com/dqpvwhgod/image/upload/v1562926472/gmqqakwsu0tcdoz71ukn.jpg" alt="">
    </div>

  </div>

</div>
