<div class="container">

  <h1>Create your own cocktail</h1>

  <div class="new-cocktail">

    <div class="new-form">
    <%= render 'form', cocktail: @cocktail %>
    </div>

    <div>
    <img src="<%= image_path('')%>" alt="">
    </div>

  </div>

</div>
