// Specific CSS for your show-page
.all {
  margin: 20px 50px;
  max-height: 100%;
}

.content {
  padding-left: 0px;
  padding-right: 0px;
}

.doses {
  margin: 20px;
  border: 1px solid $lightgrey;
  background-color: #F4F4F4;
}

.doses .btn {
  background-color: #994F81;
}

.doses i {
  color: #994F81;
  font-size: 14px;
  padding-right: 10px;
}

.doses ul {
  list-style: none;
  padding: 0px;
}

.doses ul > li {
  padding: 0px;
}
.doses .ingredients {
  background: #F4F4F4;
  border-radius: 7px;
  padding: 20px;
}

.doses .dose-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.reviews {
  margin: 20px;
  background-color: #F4F4F4;
}

.reviews .content {
  background: #F4F4F4;
  border-radius: 7px;
  padding: 20px;
}

.reviews .review-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.reviews .btn {
  background-color: #994F81;
}

.reviews i {
  color: #994F81;
}

.reviews ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
