.banner-cocktail {
  overflow: hidden;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 7px;
  background-size: cover;
  background-position: center;
  padding: 120px 0 140px 20px;
  margin: 20px 0px 20px 0px;
}

.banner-cocktail h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-cocktail p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

