.cocktail-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 7px;
}

.cocktail-card > cl_image_tag {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cocktail-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cocktail-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.cocktail-card .cocktail-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
