.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .btn .btn-outline-success {
  background-color: $lightgrey;
  margin-right: 20px
}

.navbar .btn a {
  color: $gray;
}

.navbar .btn a:active {
  color: $gray;
  text-decoration: underline;
}
